# C++
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.o
*.obj
*.so
*.a
*.dll
*.exe

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/

# IDE and OS
.vscode/
.idea/
.DS_Store
